{% extends "App/base.html"%}

{%load static %}

{%block main%}


<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8"></div>
                <h2 class="text-white mb-4">Sobre mi</h2>
                <p class="text-white-50">
                    Soy estudiante de CoderHouse<br>
                    Estoy cursando la diplomatura de Data Scient y esta es mi primera web 
                </p>
            </div>
        </div>        
    </div>
</section>


{%endblock main%}